@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');/*Bebas Neue*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');/*Shadows Into Light*/




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .img{
        display: none;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        position: absolute;
        top: -9%;
        left: 19.5%;
    }

    .text-mobile{
        display: block;
        color: rgb(88, 88, 88);
        width: 400px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        margin-top: 10px;
        text-align: center;
    }

    .form{
        display: flex;
        width: 75vw;
        gap: 18px;
        margin-top: 25px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}